.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

/* Styles for the Sign in / Sign out button &
username & icon displayed if user is logged in */
.nav-right {
  display: flex;
  column-gap: 2rem;
}

.username {
  margin-left: 0.5rem;
}

.login-link,
.logout-link {
  width: 6rem;
}

.profile-link {
  width: 4rem;
}